<%@ Page Language="C#" Inherits="BetDogeProper.x" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head runat="server">
	<title>x</title>
</head>
<body>
	<form id="form1" runat="server">
	<iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=lel&theme=cli#dogecoin" style="border:0; width:100%; height:450px;"></iframe>
	</form>
</body>
</html>
